{% extends 'original.html' %} {% block content %}

<h2>Welcome to Stonks!</h2>

<p>
  Bienvenido a nuestra innovadora plataforma de red social, diseñada
  exclusivamente para estudiantes como tú. Aquí en nuestro espacio digital, te
  ofrecemos mucho más que simples conexiones; te brindamos una comunidad
  educativa vibrante y colaborativa. Sé parte de una experiencia única donde
  puedes compartir tus conocimientos, descubrimientos y desafíos académicos con
  compañeros de todo el mundo.
</p>
{% endblock %}
